.main{
    border: 2px solid rgb(0, 0, 0);
    width: 250px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: grey;
}
.head{
    margin-left: 20%;
}

.result{
    height: 30px;
    width: 85%;
    background-color: whitesmoke ;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.clear-btn{
    width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}
.btn{
    background-color: rgb(2, 2, 2);
    color: white;
    width: 55px;
    margin-left: 3.5px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.half-btn{
    background-color: rgb(2, 2, 2);
    color: white;
    width: 30%;
    margin-left: 4px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
